    .section-messages__message-form-container {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 8px 12px;
    background-color: transparent;
    }

    .section-messages__message-form-container form {
    display: flex;
    align-items: center;
    gap: 10px;
    width: 100%;
    }

    .section-messages__message-form-container input {
    flex: 1;
    border: none;
    border-radius: 20px;
    padding: 10px 15px;
    font-size: 14px;
    background-color: #242626;
    color: #fafafa;
    outline: none;
    max-height: 100px;
    }

    .section-messages__message-form-container button {
    border: none;
    padding: 10px 16px;
    cursor: pointer;
    background-color: transparent;
    }

    .send-button__icon{
        font-size: 30px;
        color: rgb(84, 121, 202);  
    }
