.home-screen__container{
    display: flex;
    flex-direction: row;
}

.home-screen__contacts-container{
    display: flex;
    flex-direction: row;
    align-items: start;
    background-color:#161717;
    border-right: 1px #414242 solid ;
}


.home-screen__unselected-contact-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    color:  #fafafa;
    background-color: #161717;
}
