.loader-contacts{
    display: flex;
    position: relative;
    top: 100px;
    justify-content: center;
}

.contact__container{
    display: flex;
    flex-direction: column;
    align-items: start;
    padding-right: 15px;
    width: 450px;
}

.contact-info{
    display: flex;
    flex-direction: row-reverse;
    justify-content: start;
    align-items: center;
    color: #fafafa;
    height: 72px;
    font-size: 14px;
}

.contact-info div{
    margin: 0 0 0 5px;
}

.contact-name{
    font-size: 16px;
}

.contact-last-message{
    color: #abacac;
    width: 100%;
}

.profile-image__container{
    padding: 13px 15px 0 13px;
    border-radius: 50%;
    overflow:hidden;
}

.profile-image__container img{
    width: 48px;
    height: 48px;
    border-radius: 50%;
    object-fit: cover;
    border: 2px solid  rgb(84, 121, 202);
}